.menu{
    justify-content: end;
    padding-right: 3rem;
}

.active{
    border-bottom: 4px;
    border-bottom-style: solid;
    border-color: blue;
}

.landing-sec{
    padding-top: 5rem;
}

.title-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-1 img{
    max-width: 40%;
    position: relative;
    top: 1rem;
    right: -22rem;
}

.image-2 img{
    max-width: 40%;
    position: relative;
    top: -4rem;
    right: -4rem;
}

.image-3 img{
    max-width: 40%;
    position: relative;
    top: -6rem;
    right: -19rem;
}

.hover-img-1 img {
    will-change: transform;
    transition: transform .3s ease-in-out;
    transform: none;
}

.box{
    background-color: aqua;
    padding: 80rem 0rem;
}
h1 {
    font-size:x-large;
    color: blueviolet; 
}